<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ch.epfl.calendar"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="18"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:name="ch.epfl.calendar.App"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".authentication.AuthenticationActivity"
            android:label="@string/title_activity_authentication" >
        </activity>
        <activity
            android:name=".display.CourseDetailsActivity"
            android:label="@string/title_activity_course_details" >
        </activity>
        <activity
            android:name=".display.CoursesListActivity"
            android:label="@string/title_activity_courses_list" >
        </activity>
        <activity
            android:name=".display.AddEventActivity"
            android:label="@string/title_activity_add_event" >
        </activity>
        <activity
            android:name=".CreditsActivity"
            android:theme="@android:style/Theme.Holo.Light.Dialog" >
        </activity>
        <activity
            android:name=".display.AddBlocksActivity"
            android:label="@string/title_activity_add_blocks" >
        </activity>
        <activity
            android:name="ch.epfl.calendar.display.AddEventBlockActivity"
            android:label="@string/title_activity_add_event_block" >
        </activity>
        <activity
            android:name=".DefaultActionBarActivity"
            android:label="@string/title_activity_default_action_bar" >
        </activity>
    </application>

</manifest>
